@import "tailwindcss";

@layer base {
  :root {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
      sans-serif;
    color: theme('colors.slate.900');
    background-color: theme('colors.slate.100');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
  }

  body {
    min-height: 100vh;
    background-color: #f4f0ff;
    color: #0f172a;
    margin: 0;
  }

  button {
    font-family: inherit;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
